.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;

}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: #ffd700;
}

a > span:hover {
    color: red;
}


.user__avatar {
    font-size: 2rem;
}
.headerRight {
    display: flex;
    align-items: center;
}

.searchInput {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.searchButton {
    padding: 8px 12px;
    background-color: #f5c518;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #e5b517;
}

